/* -------------------- 全体の設定 ---------------------- */
html {
	margin: 0;
	/* height: 100%; */
	background-color: #ffffff;
	/* -webkit-user-select: none; */
}

/* :not(#document_area) {
  -webkit-user-select: none;
} */

/* 表示画面全体の大きさ */
/* vw,vhでビューポートに対する割合にしている */
body{
	/* width: 100%;
	height:90%; */
	width:100vw;
	height:100vh;
	overflow: auto;
	min-width: 765px;
}

p {display: block;}

.Item.isActive{
	color: red; font-size: larger;
}


/*ノードのスタイル設定*/
table[type] {
	position:absolute;
	padding: 10px 10px;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	width: 160px;
	height: 70px;
	text-align: center;
	overflow-wrap: break-word;
}

/* -------------------- タイトルの設定 ---------------------- */
/* 画面上部のタイトル全体の設定 */
#main_title {
	width: 99vw;
	min-width: 765px;
	height: 80px;
	color: #fff;
	background-color: #E38692; /* forestgreen */

	margin-right: 10px;
	margin-left: 0;
	overflow: hidden;
}

/* タイトル文字の設定 */
#main_title .title_name {
	height:60px;
	text-align: left;
	font-style: oblique; /* 斜体に */
	font-family:cursive; /* フォント変更 */
	font-size: 50px;
	margin-left:10px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;

}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}


/* ログインユーザ名と表示中のシート名を表示する */
#session {
	width: 99vw;
	min-width: 765px;
	height: 60px;
	background: #B3E0D8;
	float: left;
	margin-right: 10px;
	overflow:auto;
}

#session .session_php {
	/* font-family:fantasy; */ /* フォントの設定　ブラウザによってはだいぶヤバくなる */
	font-family: Arial, sans-serif;
	font-size: 25px; 
	/* 西田 */
	padding-left: 0.3em;
}

/* -------------------- メインの設定 ---------------------- */
/* タブメニュー */
.tabnav {
		width: calc(50vw + 200px);
		min-width: 280px;
    padding: 0;
		float: left;
		margin-top: 10px;
		margin-bottom:0;
}

.tabnav li{
    display: inline;
}

.tabnav li a{
    display: inline-block;
    background: #ddd;
		color: #333;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.tabnav li a:hover {
	background-color: #ff8c00;
}

.tabnav li a.active{
	background: #f65c5c;
    color: #fff;
}

/* Menu見出し */


.Menu {
	width: 100%;
	height:40px;
	font-size: 1.6em;
	text-align: center;
	padding: 0.3em 0;
	background: #ffffff;
	background-color: #13678A;
	color: #fff;
	float:right;
}

/* タブので切り替わる要素 */
/* 親はvh,子は親を参照する％ */
.tabcontent{
	width:100vw;
	min-width: 765px;
	height:calc(100vh - 200px); /* タイトルメニューの高さの分引く　*/
}

/* 思考整理支援システム */
#tab01 {
	width:100%;
	height: 100%;
}

/* #layout{
	height:100%;
} */

.highlight_paper{
	background-color: #6795fd;
	position:absolute; left:20px; top:20px; 
}
.highlight_paper1{
	background-color: #FC6894;
}

/* 「問いノード追加」等のボタンがある箇所 */
#jsmind_nav {
	width: 100%;
	height:34px;
	display: inline;
	font-size: 1em;
	border-bottom:double 2px #B3E0D8;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: visible;
	float:left;
}


/* 文書化モードのチェックボックス */
.checkbox {
	display: flex;
	width: 100%;
	flex-direction: column;
	float: right;
	font-size: 30px;
	vertical-align: middle;
	margin-top:10px;
}

/* 通常のチェックボックスの削除 */
input[type="checkbox"][name="check"]{
   display: none;
 }

/* アニメーションの設定 */
input+label,
input+label::before,
input+label::after {
	-webkit-transition: all .2s;
	transition: all .2s;
}
/* 背景の図形の設定 */
input+label {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 40px;
	border-radius: 24px;
	cursor: pointer;
}
/* On,Offの文字の設定 */
input+label::before {
	display: block;
	content: attr(data-off-label);
	position: absolute;
	top: 10px;
	right: 7px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
/* スライドする円の設定 */
input+label::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 6px;
	width: 33px;
	height: 33px;
	background-color: #fff;
	border-radius: 50%;
}
/* Onの文字設定 */
input:checked+label::before {
	content: attr(data-on-label);
	left: 7px;
	right: auto;
	color: #fff;
}
/* Offの文字設定 */
input:checked+label::after {
	left: 60px;
	background-color: #f7f7f7;
}

.checkbox+label {
	background-color: #BBBBBB;
	margin: 0 auto;
}
.checkbox+label::before {
	color: #000000;
	margin: 0 auto;
}
.checkbox:checked+label {
	background-color: #3498db;
	margin: 0 auto;
}
.checkbox:checked+label::before {
	color: #fff;
	margin: 0 auto;
}

/* チェックボックス横のテキスト設定 */
.checkbox_text{
	font-size:23px;
	float:right;
	margin: 0 auto;
}

/* マインドマップモードとドキュメントモードを切り替えるボタン */
.changemode_button{
	display:none;
		-webkit-user-select: none;
}

#documentation_mode_button{
    display: inline-block;
		width:135px;
    padding: 0.5em 1em;
		text-decoration: none;
    color: #ffffff;
		border-radius: 4px;
		background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
		border-bottom: solid 3px #c58668;
		float:right;
		margin-right: 1vw;
		cursor:pointer;
  }
#documentation_mode_button:active{
		-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

#mindmap_mode_button{
    display: inline-block;
		width:135px;
    padding: 0.5em 1em;
    text-decoration: none;
		color: #ffffff;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(#6795fd 0%, #67ceff 100%);
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
		float:right;
		cursor:pointer;
  }
#mindmap_mode_button:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

/* マインドマップを表示する枠の設定 */
#jsmind_area{
	width: 100%;
	height:calc(100% - 34px);
	background:#fff;
	float:left;
	position: relative;

}
#area{
	width: 85vw;
	height:98vh;
	margin-bottom:2vh;
 	border:solid 5px #B3E0D8;
	box-sizing: border-box;
 	background:#fff;
	float:left;
	resize: horizontal;

}

#jsmind_container{
	width: 100%;
	height: 100%;
 
    background:#fff;
	overflow: scroll;
	float:left;
	overflow-x: scroll;
	box-sizing: border-box;
	resize: horizontal;
	
}
#jsmind_container2_menu{
	width: 100%;
	height: 85px;
	display: flex;
	border-top: solid 5px #B3E0D8;
	padding: 3px;
	display: none;
	box-sizing: border-box;
	overflow:  auto;
	margin-bottom: 5px;
}

/* マインドマップ上で右クリックしたときのメニュー */
#mindmap_conmenu{
  width:160px;
  background-color:#f0f0f0;
  border:1px solid #999999;
  display:none;
  position:fixed;
	z-index: 1000;
	text-align: center;
}
#mindmap_conmenu.on{
  display:block;
}
#mindmap_conmenu ul{
  list-style:none;
  margin:0px;
  padding:5px;
}
#mindmap_conmenu li:hover{
  background-color: #CCFFFF;
}

#mindmap_conmenu_other{
	width:160px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	  z-index: 1000;
	  text-align: center;
  }
  #mindmap_conmenu_other.on{
	display:block;
  }
  #mindmap_conmenu_other ul{
	list-style:none;
	margin:0px;
	padding:5px;
  }
  #mindmap_conmenu_other li:hover{
	background-color: #CCFFFF;
  }
/* マインドマップ上で左クリックしたときのメニュー */
#mindmap_conmenu2{
	width:160px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	  z-index: 1000;
	  text-align: center;
  }
  #mindmap_conmenu2.on{
	display:block;
  }
  #mindmap_conmenu2 ul{
	list-style:none;
	margin:0px;
	padding:5px;
  }
  #mindmap_conmenu2 li:hover{
	background-color: #CCFFFF;
  }



  /* マインドマップ上で左クリックしたときのメニュー */
#mindmap_conmenu_someone{
	width:160px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	  z-index: 1000;
	  text-align: center;
  }
  #mindmap_conmenu_someone.on{
	display:block;
  }
  #mindmap_conmenu_someone ul{
	list-style:none;
	margin:0px;
	padding:5px;
  }
  #mindmap_conmenu_someone li:hover{
	background-color: #CCFFFF;
  }
  

  /* マインドマップ上で左クリックしたときのメニュー */
#mindmap_conmenu_my{
	width:160px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	  z-index: 1000;
	  text-align: center;
  }
  #mindmap_conmenu_my.on{
	display:block;
  }
  #mindmap_conmenu_my ul{
	list-style:none;
	margin:0px;
	padding:5px;
  }
  #mindmap_conmenu_my li:hover{
	background-color: #CCFFFF;
  }


/* 文書を作成するエリア */
#document_area {
	/*（全体）ー（サイドメニュー */
	width:calc(60vw - 350px); /* ここで設定しても意味がない */
	position: relative;
	z-index:3 ;												/* チェックボックスが押されるたびにCSSを上書きしている  */

	height:calc(100% - 34px);
	/* font-size:25px; */
	display: none;
	float: left;
	background-color:	#e2f8e5; 

    border-left: 3px  #B3E0D8;
	overflow: auto;
	user-select: text;

}

/* ドラッグの際に見える枠線 */
.ghostClass {
	border: 1px dashed red;
	height:auto;
	background-color: pink;
	margin-top:10px;
	padding-bottom:15px;
}
/* テンプレートの設定 */
.thread{
	overflow: visible;
}
/* テンプレートにマウスをのせたとき */
#document_area .thread:hover{
	cursor: pointer;
}
/* 議論目的にマウスをのせたとき */
#document_area .purpose:hover{
	background-color: #FF6666;
}
#document_area .thread-contents:hover{
	background-color: #CCFFFF;
	cursor: grabbing;
}

/* 議論目的の部分 */
#document_title{
	overflow: visible;
	background-color: orange;
}
h3 {
	margin:0;
	padding-left: 10px;
}
/* テンプレートにマウスをのせたとき */
#document_title .document_purpose{
	cursor: pointer;
}
#document_title .document_title_area{
	width:400px;
	height:50px;
	font-size:20px;
	padding-top:0px;
	padding-bottom:0px;
	margin-left:30px;
}

#ref_text{
	display: block;
	width: 100%;
	height: 30%;
	resize: vertical;
}

/* ドキュメントエリア内で右クリックしたときのメニュー */
#document_conmenu{
  width:210px;
  background-color:#f0f0f0;
  border:1px solid #999999;
  display:none;
  position:fixed;
  z-index: 4;

}
#document_conmenu.on{
  display:block;
  z-index: 4;
}
#document_conmenu ul{
  list-style:none;
  margin:0px;
  padding:5px;
}

#other_conmenu{
	width:210px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	z-index: 4;
  
}
  #other_conmenu.on{
	display:block;
	z-index: 4;
  }
  #other_conmenu ul{
	list-style:none;
	margin:0px;
	padding:5px;
  }
  #other_question_conmenu{
	display: none;
	width:210px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	z-index: 4;
  }

/* ドキュメントエリア内で右クリックしたときのメニュー */
#paper_conmenu{
	width:210px;
	background-color:#f0f0f0;
	border:1px solid #999999;
	display:none;
	position:fixed;
	z-index: 4;
  
  }
  #paper_conmenu.on{
	display:block;
	z-index: 4;
  }
  #paper_conmenu ul{
	list-style:none;
	margin:0px;
	padding:5px;
  }





/* -------------------- サイドメニューの設定 ---------------------- */
/*　サイドメニュー全体の設定　*/
#side_menu{
	width: 15vw;
	height: 98vh;
	min-height: 450px;
	float:right;
  background: #ffffff;
	z-index: 1000;
}

.side{
	display: flex;
	flex-direction: column;
    width: 90%;
	height: 70%;
    padding: 5%;
	
	margin: 5px;
}
/* 修正理由の見出し */
#side_menu .correct_reason {
	background-color: #9acd32;
	color: #fff;
	padding: 0.7em 0;
	margin: 0;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 10px;
}

/* 問い一覧の見出し */
#side_menu .toi_menu {
	background-color: #9acd32;
	color: #fff;
	padding: 0.7em 0;
	margin: 0;
	text-transform: capitalize;
	text-align: center;
}
/* 問い一覧のallボタンと横の文字の設定 */
#side_menu .toi_list {
	font-size: 14px;
	align: left;
	margin-bottom: 5px;
	margin-top: 5px;
}
/* 問い一覧の全体 */
.inquiry_area {
	height: 40%;
	overflow-y: auto;
	border:solid 5px #B3E0D8;
	margin-bottom: 30px;
	font-size: 14px;
	text-align: left;
}

#side_menu .other_annotation {
	height: 40%;
	overflow-y: auto;
	border:solid 5px #B3E0D8;
	margin-bottom: 30px;
	font-size: 14px;
	text-align: left;
	

}
/* 問い一覧 */
#testxml{
	font-size: 14px;
	margin: auto;
}

/* 文書化モードの要素につけるID */
/* 初期は隠しておき，モード切り替えでみれるようになる */
#document{
	display:none;
}
/* 全体の枠 */
/* searchFrameってクラス名にしないとボーダーが消える？ */
#document .searchFrame{
	width: 280px;
	height: 60vh;
	min-height: 400px;
	border: solid 5px #008080;
	font-size:1.2em;
	align-content: center;
	overflow: auto;
	margin-right: 1vw;
}
/* 説明文の設定 */
#document .document_description{
	font-size: 20px;
	text-align: center;
}
/* 行動の選択ボタンの設定 */
.action_select {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.action_select select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.action_select select::-ms-expand {
    display: none;
}
/* 拾いものなのでクラス名が変ですがゆるして */
.action_select.cp_sl05 {
	position: relative;
	border-radius: 2px;
  border-radius: 50px;
	background: #da3c41;
	margin-top:20px;
	margin-bottom:20px;
}
.action_select.cp_sl05::before {
	position: absolute;
	top: 1em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}
.action_select.cp_sl05 select {
	padding: 8px 38px 8px 20px;
	color: #ffffff;
	font-size:20px;
}

/* 【ご案内】部分の設定 */
#documentation_support_area{
	width:250px;
	height:100px;
	margin-left: 15px;
	resize: none;
	cursor: default;
	font-size: 20px;
	border:solid 5px #B3E0D8;
}
/* 【選択中のノード】の部分乗せ亭 */
#selected_node_area{
	width:250px;
	height:50px;
	margin-left: 15px;
	resize: none;
	cursor: default;
	font-size: 15px;
	border:solid 5px #B3E0D8;
}
/* 記述推奨の表示ボタン */
/* 最初は見えないが，法造と結びついて表示させる */
#documentation_support_button{
	float:left;
	margin: 0;
	padding:0;
}

/* 「マインドマップを表示」ボタン */
#show_mindmap_button{
	background-color: #98fb98;
  width:140px;
	height:20px;
	cursor: pointer;
}
#show_mindmap_button:hover{
	background-color: #ffd700;
}
/* 「マインドマップを隠す」ボタン */
#hide_mindmap_button{
	background-color: #7fffd4;
  width:140px;
	height:20px;
	cursor: pointer;
	float:right;
}
#hide_mindmap_button:hover{
	background-color: #ffd700;
}
/* 「テキストファイルで出力」ボタン */
#output_button{
	/* background-color: #f5deb3; */
  /* width:280px; */
	height: 20px;
	font-size:15px;
	cursor: pointer;
}
/* 「ファイルを選択」ボタン */
#input_file {
	width:280px;
	height: 20px;
	font-size:15px;
	cursor: pointer;
}

/* -------------------- 過去のマインドマップ表示の設定 ---------------------- */
#jsmind_nav2 {
	width: calc(100vw);
	/* width: calc(100vw - 350px); */
	min-width: 300px;
	min-width: 450px;
	height:37px;
	display: inline;
	font-size: 1em;
	border:solid 5px #B3E0D8;
	margin: 0;
	overflow-x: auto;
	overflow-y: visible;
	float:left;
}

/* 過去のMT時間一覧のリストの設定 */
/* select[name="user_list"] {
  width: 20vw;
	min-width: 300px;
  height: 35px;
  line-height: 30px;
	font-size:1em;
} */

/* 過去のマインドマップを表示するエリア */

#jsmind_container2{
	width: 100%;

	height:calc(50vh - 17px);


    background:#fff;
	overflow: scroll;
	float:left;
	display: none; /* 要素を横並びに配置するために Flexbox を使用 */
    flex-direction: column; /* 要素を縦方向に配置 */
	border-bottom: solid #B3E0D8 5px;
	box-sizing: border-box;
	}




/* 過去のマインドマップを表示するエリア */
#jsmind_container3{
		display: none;
		width: 53vw; /* 27vw */
		min-width: 300px;
		height:76vh;
		min-height: 450px;
		margin-bottom:2vh;
		border:solid 5px #B3E0D8;
		background:#fff;
		overflow: scroll;
		float:left;
	}
/* 比較エリアで論文を作成するエリア */
#paper_area {
	/*（全体）ー（サイドメニュー */
	display: none;
	width:calc(50vw - 350px); /* ここで設定しても意味がない 40vw*/
	position: relative;
	z-index:3 ;	/* チェックボ　ックスが押されるたびにCSSを上書きしている  */
	min-width: 140px;
	height:76vh;
	min-height: 450px;
	margin-bottom:2vh;
	float: left;
    border: 3px double #B3E0D8;
	overflow: auto;
	user-select: text;
}
#comment_area{
	display: none;
	height: 25px;
	width: 100%;
	margin-top: 2px;
}




/********************* リフレクションタブ関係 **********************/
/*リフレクション関係　yoshioka*/
#tab04 {
	width:100%;
	height: 100%;
	/* display: none; */
}

#reflection_container{
    float:left;
		width: calc(100vw - 350px);
		height:85%;
    border:solid 5px #B3E0D8;
    background:#B3E0D8;
		overflow: scroll;
		text-align:center;
}

#reflection_btn {
	background-color: #ff6347;
	color: #fff;
	width: 200px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
}
#reflection_btn:hover {
	background-color: #ff4500;
}


#ref_spam{
		text-align:center;
		margin-left:auto;
		margin-right: auto;
}

.ref_item{
	position:relative;
	/* background-color: #f0f8ff; */
	width: 98%;
	/* height:250px; */
	border-radius: 10px;
	text-align:center;
	margin-top: 30px;
	margin-left:auto;
	margin-right: auto;
}

.ref_return_btn{
	background-color: #a0522d;
	color: #fff;
	width: 150px;
	height: 45px;
	font-size: 30px;
	border-radius: 10px;
	bottom:5px;
	margin-top: 20px;
}


.ref_form{
	width:100%;
	height: 100%;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}

.ref_txt{
	font-size: 20px;
	margin-top: 30px;
	width:95%;
	margin-left:auto;
	margin-right: auto;
	text-align:center;

}

.think{
	font-size: 20px;
	/* margin-top: 30px; */
	width:400px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;

}

.will_radio_think{
	position:absolute;
	left: 55%;
	bottom:19.5%;


}

.will_radio_not{
	position:absolute;
	left: 55%;
	bottom:9%;
}


.not_think{
	/* position:relative; */
	font-size: 20px;
	/* margin-top: 30px; */
	width:400px;
	margin-left:auto;
	margin-right: auto;
}

.will_think{
	position:absolute;
	font-size: 20px;
	/* margin-top: 30px; */
	/* width:95%; */
	/* margin-left:auto; */
	/* top:   20px; */
	left:  calc(55% + 18px);
	/* width: 250px; */
	/* margin-top: 1px;  */
	text-align:center;

}

.will_think_not{
	position:absolute;
	font-size: 20px;
	/* margin-top: 30px; */
	/* width:95%; */
	/* margin-left:auto; */
	/* top:   20px; */
	left:  calc(55% + 18px);
	/* width: 250px; */
	/* margin-top: 1px;  */
	text-align:center;

}

.ref_radio{
	font-size: 20px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}

.sub_btn{
	/* position:absolute; */
	background-color: #66cdaa;
	color: #fff;
	width: 150px;
	height: 90px;
	font-size: 30px;
	border-radius: 10px;
	bottom:5px;
	margin-top: 20px;

}

/*リフレクション関係　yoshioka*/


/*履歴関係　yoshioka*/
#record_tab {
	width:100%;
	height: 100%;
}

#record_container{
    float:left;
		width: calc(100vw - 350px);
		height:85%;
    border:solid 5px #B3E0D8;
		background-color: #fffafa;
		overflow: scroll;
		text-align:center;
}

#reflection_btn {
	background-color: #ff6347;
	color: #fff;
	width: 300px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
}
#reflection_btn:hover {
	background-color: #ff4500;
}

#record_table{
	text-align: center;

}

#record_table_sets {
	border-collapse: collapse;
	width:100%;
	text-align: center;
	background-color: white;
}

#record_timestamp_title{
	background-color: #ffdead;
	border: solid 1px #B3E0D8;
	width: 10%;
	/* color: white; */

}

#record_ref_textp_title{
	background-color: #ffdead;
	border: solid 1px #B3E0D8;
	width: 40%;

}

#record_activity_title{
	background-color: #ffdead;
	border: solid 1px #B3E0D8;
	width: 8%;

}

#record_late_act_title{
	background-color: #ffdead;
	border: solid 1px #B3E0D8;
	width: 8%;

}

#record_reason_title{
	background-color: #ffdead;
	border: solid 1px #B3E0D8;

}

.record_table_cells{
	border: solid 1px #B3E0D8;
	font-size: 12px;
	background-color: #fffff0;
}

/* .record_table_cells:nth-child(even){
	background-color: #fffff0;
}

.record_table_cells:nth-child(odd){
	background-color: #f5fffa;
} */

/*履歴関係　yoshioka*/



/* -------------------- 細かいボタン等の設定 ---------------------- */
/*recommendとallボタン*/
.btn {
	background-color: #808080;
	padding: 0.7em 0;
	color: #fff;
}
.btn:hover {
	background-color: #F57DA7;
}

/*OK，目的選択ボタン*/
.button {
	background-color: #66330e;
	color: #fff;
	width: 30%;
	height: 30px;
		-webkit-user-select: none;
}
.button:hover {
	background-color: #ff8c00;
}

.button0 {
	background-color: #009656;
	color: #fff;
	width: 60%;
	height: 30px;
		-webkit-user-select: none;
}
.button0:hover {
	background-color: #ff8c00;
}

/* シート選択画面に戻るボタン */
.button1 {
	width:15vw;
	height: 80px;
	font-size: 1.2vw;
	color: #fff;
	background-color: #f68080;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	padding:0;
}

.button1:hover {
	background-color: #f65c5c;
}

/* ログアウトボタン */
.button2 {
	width:15vw;
	height: 80px;
	font-size: 1.2vw;
	color: #fff;
	background-color: #f68080;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	padding:0;
}
.user_select{
	display:inline;
}

.button2:hover {
	background-color: #f65c5c;
}

.button3 {
	background-color: #999;
	color: #fff;
	width: 50px;
	height: 25px;
	font-size: 12px;
	margin-left: 0;
}
.button3:hover {
	background-color: #ff8c00;
}
/* ノード追加ボタン */


.button4 {
	background-color: #999;
	color: #fff;
	width: 100px;
	height: 25px;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;
	overflow: auto;
}
/* .button4:hover {
	background-color: #ff8c00;
} */

/*他者の問いノード表示*/
.button_q {
	display: flex;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .5em 2em;
    border: solid;
    border-radius: 5px;
	border-color:#e8a852;
    background-color: #fffbf3;
    color: #444;
    font-weight: 400;
    font-size: 1em;
}

.button_q:hover {
    background-color: #ffd289;
}


#question_node_b:hover{
	background-color: #BFEAF5;
}

#predict_node_b:hover{
	background-color: #9999FF;
}
#b_my:hover{
	background-color: #D09CFA;
}

#b_someone:hover{
	background-color: #FFFBAC;
}

#s_interpretation:hover{
	background-color: #FBC252;
}

#s_rethink_node:hover{
	background-color: #88A47C;
}

#s_criticism_node:hover{
	background-color: #ff7792;
}
#tag_node_b:hover{
	background-color: #88A47C;
}

.button5 {
	background-color: #999;
	color: #fff;
	width: 70px;
	height: 25px;
	font-size: 14px;
	margin-top: 5px;
}
.button5:hover {
	background-color: #ff8c00;
}

.button6 {
	background-color: #999;
	color: #fff;
	width: 100%;
	height: 25px;
}
.button6:hover {
	background-color: #ff8c00;
}


/* DBの接続確認ボタン */
.button7 {
	width:15vw;
	height: 60px;
	font-size: 1.5vw;
	color: #fff;
	background-color: #13678A;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	/* margin-right:15vw; */
	padding:0;
}
.button7:hover {
	background-color: #012030;
}

.button8 {
	background-color: #ff8c00;
	color: #fff;
	width: 30%;
	height: 30px;
}
.button8:hover {
	background-color: #DAFDBA;
}

/* 操作確認ボタン */
.button9 {
	width:15vw;
	height: 60px;
	font-size: 1.5vw;
	color: #fff;
	background-color: #DAFDBA;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	padding:0;
}
.button9:hover {
	background-color: #012030;
}

.button_other {
	background-color: #999;
	color: #fff;
	width: 90%;
	height: 25px;
}
.button_other:hover {
	background-color: #ff8c00;
}

.button10 {
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	margin: 2px;
	padding: 5px 10px;
	font-weight: bold;
	border-radius: 10px;
	color: #27acd9;
	border: 3px solid #27acd9;
	box-shadow: 1px 1px #27acd9;
	transition: 0.1s ease-in-out;
	margin-bottom: 3px;
}
.button10:hover {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: #27acd9;
}

/* 修正理由記入テキストエリア */
#edit_reason_area {
    width: 85%;
    height: 80px;
}

/* #question{
	height: 400px;
	overflow-y: auto;
	margin: auto;
} */


#make_micro_strat_form{
	display: none;
	padding-bottom: 20px;
	height: 50%;
}

input[type="text"] {
    vertical-align: top;
	word-wrap: break-word; /* 長い単語を折り返す */
	overflow-wrap: break-word; /* CSS3 仕様としても有効です */
	resize: vertical;
	
}

.tab-wrap:after {
content: '';
width: 100%;
height: 3px;
background: DeepSkyBlue;
display: block;
order: -1;
}
.tab-label {
color: White;
background: LightGray;
font-weight: bold;
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
white-space: nowrap;
text-align: center;
padding: 10px .5em;
order: -1;
position: relative;
z-index: 1;
cursor: pointer;
border-radius: 5px 5px 0 0;
flex: 1;
}
.tab-label:not(:last-of-type) {
margin-right: 5px;
}
.tab-content {
width: 100%;
height: 0;
overflow: hidden;
opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
height: auto;
overflow: auto;
padding: 15px;
opacity: 1;
transition: .5s opacity;
box-shadow: 0 0 3px rgba(0,0,0,.2);
}
/* ラジオボタン非表示 */
.tab-switch {
display: none;
}


/*他者の問いノード表示*/
.b_que {
	display: flex;
	position: relative;
    width: 100%;
    margin: 0 auto;
    padding: .3em .7em;
    border: none;
    border-bottom: 2px solid #ffb862;
    background-color: transparent;
    color: #333;
    font-weight: 200;
    font-size: 1em;
	text-align: left;
}

.b_que:hover {
	background-color: #eee;
}
.other{
	display: none;
}
.ref{
	display: none;
}

#crit{
	display: none;
}

.resizable-textbox {
	resize: vertical;
	overflow: auto;
	min-height: 50px;
	min-width: 100px;
	border: 1px solid #ccc;
	padding: 5px;
}

.side_commentarea{
	margin-top: 10px;
	width: 100%;
	height: 100px;
	overflow: scroll;
	box-sizing: border-box;
	resize: vertical;
	line-height: 1;
}

.border-radius {
	background-color: #ffbaa1;
	border-radius: 30px;
	color:#000000;
	text-align: center;
	word-break: break-all;
	padding: 10px;
  }


#summary_area{
	border: solid #000000 3px;
}



#floatingImage {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 200px;
	height: 100px;	
	padding: 23px;
	size: 10px;
	color: #fff;
	cursor: pointer;
	z-index: 3;
}


#floatingImage img {
	max-width: 100%;
	height: auto;
}
/* カラーパレット 
白:#FFFFFF
赤（ベース）:#E38692
ピンク:#F6D4D8
黄:#F6D580
緑:#6EB7DB
青:#64C99B */

