
/* 論文アノテーション配色 */
span[type="highlight"]{background-color:#FFFBAC;}

span[type="toi"]{background-color:#bee2f9;}
span[type="konkyo"]{background-color: #fbdae1;}
span[type="predict"]{background-color:#ffbaa1;}
span[type="criticism"]{background-color:rgb(245, 132, 120);}

span[type="non-relation"]{background-color:#d2f1c5}

span.highlighted {
    background-color: #f1fd85;
}
span.user_s {
    background-color: #d2f1c5;;
}



/* ユーザごとのアノテーション配色 */
span[type="user_s"]{background-color: #d2f1c5;}
span[type="user_m"]{background-color: #F3CCFF;}

/* kii-fujinaka追加　添削に対するアノテーション */
span.paper_txt_obj[type="comment"] {
    background-color: #a2f1c5;
}


